# IntelliJ Files
.idea/
*.ipr
*.iws
*.iml

# Eclipse Files
.classpath
.project
**/.settings

# Build outputs
target/
reports/

# Vagrant outputs
.vagrant

# OS hidden files
.DS_Store

# ignore release.properties during commit phase of maven-release-plugin:prepare
release.properties
